/* General settings */
:root {
  --primary: hsl(322, 100%, 66%);
  --primary-light-pink: hsl(321, 100%, 78%);
  --primary-light-red: hsl(0, 100%, 63%);
  --background-dark: hsl(192, 100%, 9%);
  --background-light: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* UI Components */

.btn-invert {
  border: 1px solid var(--primary);
  border-radius: 4rem;
  background-color: #fff;
  color: var(--primary);
  font-size: 9px;
  text-transform: capitalize;
  padding: 6px 16px;
}

.btn-primary {
  border: none;
  border-radius: 4rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.85rem 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Header */
header {
  padding: 1.8rem;
}

header .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}

header .logo-container .logo {
  width: 6rem;
}

header .headings-group {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: var(--background-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .headings-group h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 8px;
  margin-bottom: 1.5rem;
}

header .headings-group h2 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

/* Community section */

.community {
  margin: 4.5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community picture {
  width: 80%;
  display: block;
  margin: 0 auto 7.5rem auto;
}

.community picture img {
  width: 100%;
}

.community .community-item {
  width: 10rem;
  display: flex;
  flex-direction: column;
  color: var(--background-dark);
  margin-bottom: 6rem;
}

.community .community-item img {
  width: 1.8rem;
}

.community .community-item .amount {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.community .community-item .title {
  font-size: 0.9rem;
  opacity: 0.5;
}

/* Sections with illustration*/
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--background-dark);
  margin: 12rem 0;
  position: relative;
}

.sections:nth-of-type(even) {
  background-color: var(--background-light);
}

.grow-together {
  margin: 3rem 0 13rem 0;
  padding-top: 5rem;
}

.sections .svg__top {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.sections .svg__bottom {
  display: block;
  transform: translateY(100%);
}

.sections .illustration {
  width: 70%;
  display: block;
  margin-bottom: 5.5rem;
}

.sections h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sections p {
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  line-height: 1.5;
}

/* Section Build your community */
.build-your-community {
  margin-bottom: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-your-community h2 {
  font-family: Poppins, sans-serif;
  color: var(--background-dark);
  text-align: center;
  margin-bottom: 2.5rem;
}

/* Footer */
footer {
  background-color: var(--background-dark);
  color: #fff;
  position: relative;
  padding: 3.5rem 2rem 2rem 2rem;
}

footer .svg__top {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

footer .newslatter {
  margin-bottom: 7rem;
}

footer h3 {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

footer p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

footer form {
  text-align: right;
}

footer input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-bottom: 0.7rem;
}

footer button.btn-primary {
  border-radius: 5px;
  padding: 1rem 2.5rem;
  font-size: 1rem;
}

footer svg {
  width: 12rem;
  margin-bottom: 0.5rem;
}

footer .contact-item {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

footer .contact-item img {
  margin-right: 1rem;
}

footer .social-box {
  margin: 3rem 0;
}

footer .social-box i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
